
# Python bytecode
*.py[co]

# Annoying python thing
__pycache__/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Conventional virtualenv dir for people who haven't yet realized how great virtualenvwrapper is
venv/

# Local configuration
local_config.py

# Default storage of data repo
data/

# Vim swp files
.*.swp
